<div>
    <div class="containerCity">
        <div class="title">
            <h1>
                Burbank, CA
            </h1>
        </div>
        <div class="cityWether">
            <div class="wetherInfo">
                <h4>Humidity: {{wether.main.humidity}}</h4>
                <h4>Temperature (Average): {{wether.main.temp}}</h4>
                <h4>Temperature (High): {{wether.main.temp_max}}</h4>
                <h4>Temperature (Low): {{wether.main.temp_min}}</h4>
                <h4>Status: {{wether.weather[0].description}}</h4>
            </div>
            <div class="img">
                <img class="cityimg" src="https://images.pexels.com/photos/2129796/pexels-photo-2129796.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"/>
            </div>
        </div>
    </div>
</div>

