<h2>Dojo Weather Cities</h2>

<h4 class="citiesNames">
    <!--
    <button (click) = "getWetherSeattle()">
        Seattle
    </button>
    <button (click) = "getWetherSanJose()">
        San Jose
    </button>
    <button (click) = "getWetherWashington()">
        Washington
    </button>
    <button (click) = "getWetherSeattle()">
        Seattle
    </button>
    <button (click) = "getWetherSeattle()">
        Seattle
    </button>
    <button (click) = "getWetherSeattle()">
        Seattle
    </button>
    
    -->
    <a href="/seattle">Seattle WA</a>
    <a href="/sanjose">San Jose CA</a>
    <a href="/burbank">Burbank CA</a>
    <a href="/dallas">Dallas TX</a> 
    <a href="/washington">Washington DC</a>
    <a href="/chicago">Chicago IL</a>
</h4>
<div>
    <app-seattle-c></app-seattle-c>
    <app-washington-c></app-washington-c>
    <app-sanjose-c></app-sanjose-c>
    <app-burbank-c></app-burbank-c>
    <app-dallas-c></app-dallas-c>
    <app-chicago-c></app-chicago-c>
</div>

<!--
<div *ngIf = "cityInfoSeattle.id == 5809844">
    
</div>
-->

